*{
    box-sizing:border-box;
}

body{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: #80DED9;
    font-size: 18px;
}

.container{
    text-align:center;
}

.header{
    background:black;
    color:white;
    margin-bottom: 20px;
}

/* Fonts for h1 tags */
h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.main{
    background:white;
    margin-bottom:20px;
}

.buttons{
    background:white;
    margin-bottom: 20px;
}

.data{
    background:white;
    margin-bottom: 20px;
}

#goalValue{
    padding:15px;
}

#winLoss{
    padding:15px;
}

#scoreValue{
    padding:15px;
}

#signature{
    text-align:right;
}